.App {
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: 'Markazi Text', 'Times New Roman', Times, serif;
  font-size: 64px;
}

h2 {
  font-family: 'Markazi Text', 'Times New Roman', Times, serif;
  font-size: 40px;
}

h3{
  font-family: 'Karla', 'Times New Roman', Times, sans-serif;
  font-size: 18px;
}

h4{
  font-family: 'Karla', 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 20px;
}

h5{
  font-family: 'Karla', 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 16px;
}

h6{
  font-family: 'Karla', 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 18px;
}

p {
  font-family: 'Karla', 'Times New Roman', Times, serif;
  font-size: 16px;
  color: #495E57;
}

span {
  font-family: 'Karla', 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 16px;
  color: #495E57;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
}

li {
  padding: 10px;
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: #495E57;
}

img {
  float: left;
  padding: 0px 25px;
}