#reviews {
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #495E57;
    column-gap: 10px;
}

#reviews div {
    grid-row-start: 2;
    height: 300px;
    background-color: white;
    padding: 10px;
}

#rating-card-1 {
    grid-column-start: 2;
}
#rating-card-2 {
    grid-column-start: 3;
}
#rating-card-3 {
    grid-column-start: 4;
}
#rating-card-4 {
    grid-column-start: 5;
}

#reviews h1 {
    color: #F4CE14;
    margin: 0;
}

#reviews h5, h6 {
    margin: 10px 0;
}